@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #e5f5e0;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #2ecc71;
  border-radius: 6px;
  border: 3px solid #e5f5e0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #27ae60;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #2ecc71 #e5f5e0;
}