@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #e5f5e0;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #2ecc71;
  border-radius: 6px;
  border: 3px solid #e5f5e0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #27ae60;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #2ecc71 #e5f5e0;
}